site_name: PLeonR
theme:
  name: material
  logo: logo.png
  favicon: logo.png
  features:
    - navigation.instant
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.select
    - content.code.copy
  language: pt-BR
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: lime
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference

plugins:
  - search

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/pleonr
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/pablo-leon-rodrigues-9b47a824
    - icon: fontawesome/brands/steam
      link: https://steamcommunity.com/id/leonpf
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/pablo.leonrodrigues
    - icon: fontawesome/brands/google
      link: mailto:pabloleon@upf.br

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js